<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Sobre a Aplicação</title>
</head>
<body>
    <header>
        <div class="title">
            <h1>Sobre a Aplicação</h1>
            <span class="material-symbols-outlined">close</span>
        </div>
        <hr id="linha">
    </header>

    <div class="conteúdo">
        <div class="title-logo">
            <img src="IMG_1471.PNG" alt="logo-pem-ocara">
            <h1>PEM OCARA</h1>
            <p id="version">Versão 1.0.0</p>
        </div>

        <div class="missao">
            <h2>Nossa Missão</h2>
            <p>O PEM OCARA nasceu para ser seu aliado digital. Acreditamos que a inovação deve simplificar a rotina e valorizar o seu tempo. Somos um time apaixonado por design e usabilidade, criando soluções da Universidade Federal do Ceará - Quixadá para o mundo.</p>
        </div>

        <div class="equipe">
            <h2>Nossa Equipe</h2>
            <ul>
                <li>Carla Cristina de Sousa Araújo</li>
                <li>Cauan Ricardo Ribeiro </li>
                <li>Clidenor Lopes Martins Filho</li>
                <li>João Vitor Rodrigues Santos</li>
                <li>Kaylanne de Jesus Sousa Sátiro</li>
                <li>Maria Beatriz Ribeiro de Castro</li>
                <li>Em agradecimentos especiais ao professor Jeferson Kenedy Morais Vieira</li>
            </ul>
        </div>

        <footer>
            <p>Feito com 💜 por alunos da UFC Quixadá © 2025 Todos os direitos reservados.</p>
        </footer>
    </div>
    <script src="script.js"></script>
</body>
</html>