<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEM Ocara</title>
    <link rel="stylesheet" href="style.css">
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
        rel="stylesheet"
    />
</head>

<body>
    <div class="app-container">
        
        <!-- sidebar -->
        <aside class="sidebar">
        <header class="sidebar-header">
            <h1>PEM OCARA</h1>
            <hr class="sidebar-divider" />
        </header>

        <nav class="sidebar-nav">
            <ul>
                <li id="listarAssistidas" data-window-target="telaFuncionarios">
                    <a href="#">
                        <span class="material-symbols-outlined">group</span>
                        <span>Funcionários</span>
                    </a>
                </li>

                <li id="telaRedeApoio" data-window-target="telaRedeApoio">
                    <a href="#">
                        <span class="material-symbols-outlined">groups</span>
                        <span>Rede de Apoio</span>
                    </a>
                </li>

                <li id="telaInicial" data-window-target="telaInicial">
                    <a href="#" class="active">
                        <span class="material-symbols-outlined">home</span>
                        <span>Inicial</span>
                    </a>
                </li>

                <li id="telaEstatisticas" data-window-target="telaEstatisticas">
                    <a href="#">
                        <span class="material-symbols-outlined">monitoring</span>
                        <span>Estatísticas</span>
                    </a>
                </li>

                <li id="telaConta" data-window-target="telaConfiguracoesConta">
                    <a href="#">
                        <span class="material-symbols-outlined">manage_accounts</span>
                        <span>Conta</span>
                    </a>
                </li>
            </ul>
        </nav>
        </aside>

        <main class="main-content">

            <section class="cabecalho">
                <div class="titulo">
                    <h2>Bem-Vindo(a) a</h2>
                    <h1>PEM Ocara</h1>
                </div>
                <hr class="linha">
            </section>
            
            <section class="informacoes">
                <h2>Informações Importantes ao Acolher</h2>
                <ul>
                    <li>Toda a equipe deve preservar a escuta privilegiada/qualificada, evitando julgamentos,
                        preconceitos e comentários desrespeitosos, com abordagem que respeite a autonomia das
                        mulheres e de seu poder de decisão, procurando estabelecer relação de confiança.</li>
                    <li>Encaminhar os problemas apresentados pelas mulheres, oferecendo soluções possíveis e
                        priorizando o seu bem-estar e comodidade.</li>
                    <li>Garantir a privacidade no atendimento e a confidencialidade das informações de modo a
                        prestar apoio emocional e encaminhar, quando necessário, para o atendimento continuado em
                        médio prazo.</li>
                    <li>Utilizar linguagem simples, aproximativa, inteligível e apropriada ao universo da assistida.
                    </li>
                </ul>
            </section>

            <footer class="rodape">
                <img src="./imgs/logo-ocara.png" alt="Logo Ocara" class="logo-esquerda">
                <p>Avenida Coronel João Felipe, Centro, <br> CEP: 62755-000, Ocara - CE <br> pemocara@gmail.com</p>
                <img src="./imgs/brasao-ocara.png" alt="Brasão de Ocara" class="logo-direita">
            </footer>

        </main>
    </div>

    <script type="module" src="../../../dist/renderers/TelaInicialAdmRenderer.js"></script>
</body>

</html>