@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

/* --- Layout Principal do App --- */
.app-container {
    display: flex;
    height: 100vh;
}

/* --- Barra Lateral / Sidebar ============) --- */
.sidebar {
    width: clamp(340px, 28vw, 480px);
    background-color: #63468C;
    color: #FFFFFF;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    box-sizing: border-box;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sidebar-header {
    text-align: center;
    width: 84%;
    margin: 0 auto;
    flex-shrink: 0;
    padding-top: 8px;
}

.sidebar-header h1 {
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
}

.sidebar-divider {
    border: none;
    height: 4px;
    background-color: #FFFFFF;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
}

.sidebar-nav {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.sidebar-nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.050em;
    padding: 15px 40px;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
}

.sidebar-nav .material-symbols-outlined {
    font-size: 40px; 
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    line-height: 1;
    flex-shrink: 0;
}

.sidebar-nav a.active {
    background-color: #FFFFFF;
    color: #63468C;
}

.sidebar-nav a.active .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 40;
}

.sidebar-nav a:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.main-content {
    flex-grow: 10;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* TITULO**/
.titulo {
    width: 100%;
    text-align: left;
}

/* TITULO DE BEM VINDO A */
.titulo h2 {
    font-weight: 500;
    font-size: 32px;
    color: #CEB3F2;
    margin: 0;
    letter-spacing: 0.1em;
}

/* TITULO PEM OCARA*/
.titulo h1 {
    font-weight: 800;
    font-size: 64px;
    color: #63468C;
    text-shadow: 0px 5px 10px rgba(178, 145, 222, 0.6);
    margin: -25px 0 0 0;
    letter-spacing: 0.2em;
}

.linha {
    width: 100%;
    border: 3px solid #63468C;
    box-shadow: 0px 3px 8px #B291DE;
    margin-top: 1.5px;
}

/* Informações */
.informacoes {
    margin-top: 60px;
    width: 100%;
}

.informacoes h2 {
    font-weight: 600;
    font-size: 36px;
    color: #63468C;
    margin-bottom: 30px;
}

.informacoes ul {
    list-style: disc;
    font-size: 20px;
    font-weight: 300;
    color: #372354;
    padding-left: 40px;
    text-align: justify;
}

.informacoes li {
    margin-bottom: 15px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 70px;
    gap: 20px;
}

.rodape p {
    flex-grow: 1;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #63468C;
}

.logo-esquerda {
    width: 112px;
    height: 80px;
    object-fit: contain;
}

.logo-direita {
    width: 133px;
    height: 100px;
    object-fit: contain;
}