<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEM Ocara - Histórico</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="app-container">
        <main class="main-content">
            <header class="page-header">
                <div class="header-content">
                    <h1>Histórico de Mudanças</h1>
                    <a href="#" class="btn-fechar-pagina" id ="btn-fechar-historico">
                        <span class="material-symbols-outlined">close</span>
                    </a>
                </div>
                <hr class="title-divider">
            </header>
            <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Caso</th>
                                <th>Alteração</th>
                                <th>Mudança</th>
                                <th>Campo</th>
                            </tr>
                        </thead>
                        <tbody id="tabela-corpo">
                            </tbody>
                    </table>
                </div>
                <div class="pagination" id="paginacao-container">
            </div>
        </main>
    </div>
    <script src="script.js"></script>
    <script type="module" src="../../../dist/renderers/historicoRenderer.js"></script>
</body>
</html>