<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEM Ocara</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>


    <div class="app-container">

        <!-- sidebar -->
        <aside class="sidebar">
            <header class="sidebar-header">
                <h1>PEM OCARA</h1>
                <hr class="sidebar-divider">
            </header>
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-user-icon lucide-user">
                                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                                <circle cx="12" cy="7" r="4" />
                            </svg> <span>Assistidas</span></a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg> <span>Rede de Apoio</span></a></li>
                    <li><a href="#" class="active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg> <span>Inicial</span></a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                            </svg> <span>Estatísticas</span></a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path d="M15 7a4 4 0 1 0-8 0 4 4 0 0 0 8 0z"></path>
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="18" cy="15" r="3"></circle>
                                <path d="M18 12v-1.5"></path>
                                <path d="M18 18v1.5"></path>
                                <path d="M21 15h-1.5"></path>
                                <path d="M15 15h1.5"></path>
                                <path d="M20.1 12.9l-1-1"></path>
                                <path d="M16.9 17.1l-1-1"></path>
                                <path d="M20.1 17.1l-1-1"></path>
                                <path d="M16.9 12.9l-1-1"></path>
                            </svg> <span>Conta</span></a></li>
                </ul>
            </nav>
        </aside>


        <main class="main-content">


            <div class="container-geral">
                <!-- titulo principal -->
                <section class="cabecalho">
                    <div class="titulo">
                        <h2>Bem-Vindo(a) a</h2>
                        <h1>PEM Ocara</h1>
                    </div>
                    <hr class="linha">
                </section>
                <!-- botoes principais -->
                <section class="botoes">
                    <button class="btn btn-nova">CADASTRAR<br>NOVA <br>ASSISTIDA</button>
                    <button class="btn btn-existente">CADASTRAR<br>CASO A ASSISTIDA<br>EXISTENTE</button>
                </section>
                <!-- info importantes -->
                <section class="informacoes">
                    <h2>Informações Importantes ao Acolher</h2>
                    <ul>
                        <li>
                            Toda a equipe deve preservar a escuta privilegiada/qualificada, evitando julgamentos,
                            preconceitos e
                            comentários desrespeitosos, com abordagem que respeite a autonomia das mulheres e de seu
                            poder de
                            decisão, procurando estabelecer relação de confiança.
                        </li>
                        <li>
                            Encaminhar os problemas apresentados pelas mulheres, oferecendo soluções possíveis e
                            priorizando o
                            seu bem-estar e comodidade.
                        </li>
                        <li>
                            Garantir a privacidade no atendimento e a confidencialidade das informações de modo a
                            prestar apoio
                            emocional e encaminhar, quando necessário, para o atendimento continuado em médio prazo.
                        </li>
                        <li>
                            Utilizar linguagem simples, aproximativa, inteligível e apropriada ao universo da assistida.
                        </li>
                    </ul>
                </section>
                <!-- rodapé -->
                <footer class="rodape">
                    <img src="imagens/logo-ocara.png" alt="Logo Ocara" class="logo-esquerda">
                    <p>
                        Avenida Coronel João Felipe, Centro, <br>
                        CEP: 62755-000, Ocara - CE <br>
                        pemocara@gmail.com
                    </p>
                    <img src="imagens/brasao-ocara.png" alt="Brasão de Ocara" class="logo-direita">
                </footer>
            </div>


        </main>
    </div>
</body>

</html>