@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFFFFF;
    overflow-x: hidden;
}


/* --- Layout Principal do App --- */
.app-container {
    display: flex;
    height: 100vh;
}

/* --- Barra Lateral / Sidebar ============) --- */
.sidebar {
    width: clamp(340px, 28vw, 480px);
    background-color: #63468C;
    color: #FFFFFF;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    box-sizing: border-box;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sidebar-header {
    text-align: center;
    width: 84%;
    margin: 0 auto;
    flex-shrink: 0;
    padding-top: 8px;
}

.sidebar-header h1 {
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
}

.sidebar-divider {
    border: none;
    height: 4px;
    background-color: #FFFFFF;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
}

.sidebar-nav {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.sidebar-nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.050em;
    padding: 15px 40px;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
}

.sidebar-nav .material-symbols-outlined {
    font-size: 40px; 
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    line-height: 1;
    flex-shrink: 0;
}

.sidebar-nav a.active {
    background-color: #FFFFFF;
    color: #63468C;
}

.sidebar-nav a.active .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 40;
}

.sidebar-nav a:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.main-content {
    flex-grow: 10;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
}

/*=======================MAIN =================*/
.main-content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
}

.icone-material {
    transform: scale(1.4);
}

/*COMECA A TELA INICIAL ==========*/
.container-geral {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 50px;
    gap: 40px;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* TITULO**/
.titulo {
    width: 100%;
    text-align: left;
}

/* TITULO DE BEM VINDO A */
.titulo h2 {
    font-weight: 500;
    font-size: 32px;
    color: #CEB3F2;
    margin: 0;
    letter-spacing: 0.1em;
}

/* TITULO PEM OCARA*/
.titulo h1 {
    font-weight: 800;
    font-size: 64px;
    color: #63468C;
    text-shadow: 0px 5px 10px rgba(178, 145, 222, 0.6);
    margin: -25px 0 0 0;
    letter-spacing: 0.2em;
}

.linha {
    width: 100%;
    border: 3px solid #63468C;
    box-shadow: 0px 3px 8px #B291DE;
    margin-top: 1.5px;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.btn {
    background-color: #F2B872;
    border: 0.5px solid #E0AC6E;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    padding: 2%;
    letter-spacing: 0.05em;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 500px;

    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    flex-shrink: 0;
    margin: 0 auto;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* Informações */
.informacoes {
    margin-top: 60px;
    width: 100%;
}

.informacoes h2 {
    font-weight: 600;
    font-size: 36px;
    color: #63468C;
    margin-bottom: 30px;
}

.informacoes ul {
    list-style: disc;
    font-size: 20px;
    font-weight: 300;
    color: #372354;
    padding-left: 40px;
    text-align: justify;
}



.informacoes li {
    margin-bottom: 15px;
}

/*  ======= RODAPE =============*/
.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.rodape p {
    flex-grow: 1;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #63468C;
}

.logo-esquerda {
    width: 112px;
    height: 80px;
    object-fit: contain;
}

.logo-direita {
    width: 133px;
    height: 100px;
    object-fit: contain;
}

/* ============= MO0DAL CASO A ASSISTIDA EXISTENTE ========*/

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

.modal-select-container {
    width: 1166px;
    height: 540spx;
    background: #FFFFFF;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    gap: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    max-width: 95%;
    max-height: 95vh;
}

.modal-select-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.modal-select-header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #63468C;
    margin: 0;
    width: 1017px;
}

.close-frame {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
}

.close-x {
    font-size: 40px;
    color: #63468C;
    line-height: 30px;
}


.assistida-list-container {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
    padding-top: 20px;
    min-height: 0;

}

.assistida-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 2px 0;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.assistida-item input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 30px;
    height: 30px;
}

.radio-custom {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid #63468C;
    flex-shrink: 0;
    position: relative;
}

.assistida-item input[type="radio"]:checked+.radio-custom::after {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #63468C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #63468C;
}

.btn-adicionar-caso {
    width: 541px;
    height: 50px;
    background-color: #F2B872;
    border-radius: 10px;
    border: 0.5px solid #E0AC6E;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    margin-top: 15px;
}

.btn-adicionar-caso:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn-adicionar-caso:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.main-content .material-symbols-outlined {
    color: #63468C;
    font-size: 38px;
    font-variation-settings: 'FILL'0, 'wght'400, 'GRAD'0, 'opsz'38;
}

/* ======= ERRO MESSAGE =======*/
.error-message {
    color: #C94A2C;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: left;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-left: 5px;
    transition: height 0.2s ease, visibility 0.2s ease;
}

.error-message.show {
    visibility: visible;
    height: auto;
    min-height: 24px;
    margin-bottom: 10px;
}

/* --- Responsividade Específica --- */

/* Para tela 1707 x 1067 */
@media screen and (max-width: 1707px) and (max-height: 1067px) {
    .main-content {
        padding: 45px 72px;
        max-width: 1600px;
    }
    
    .sidebar-header h1 {
        font-size: 44px;
    }
    
    .sidebar-nav a {
        font-size: 30px;
        padding: 14px 36px;
        gap: 18px;
    }
    
    .sidebar-nav .material-symbols-outlined {
        font-size: 38px;
    }
    
    .cabecalho h2 {
        font-size: 44px;
    }
    
    .botoes {
        gap: 27px;
        flex-direction: row;
    }
    
    .btn {
        height: 90px;
        width: 400px;
        font-size: 22px;
    }
    
    .rodape p {
        font-size: 15px;
    }
    
    .logo-esquerda {
        width: 100px;
        height: 72px;
    }
    
    .logo-direita {
        width: 120px;
        height: 90px;
    }
}

/* Para tela 1440 x 900 */
@media screen and (max-width: 1440px) and (max-height: 900px) {
    .main-content {
        padding: 40px 64px;
        max-width: 1400px;
    }
    
    .sidebar-header h1 {
        font-size: 40px;
    }
    
    .sidebar-nav a {
        font-size: 28px;
        padding: 12px 32px;
        gap: 16px;
    }
    
    .sidebar-nav .material-symbols-outlined {
        font-size: 36px;
    }
    
    .cabecalho h2 {
        font-size: 40px;
    }
    
    .botoes {
        gap: 24px;
        flex-direction: row;
    }
    
    .btn {
        height: 80px;
        width: 350px;
        font-size: 20px;
        border-radius: 20px;
    }
    
    .rodape p {
        font-size: 14px;
    }
    
    .logo-esquerda {
        width: 90px;
        height: 64px;
    }
    
    .logo-direita {
        width: 108px;
        height: 80px;
    }
}

/* ======================================================= */
/* === RESPONSIVIDADE PARA NOTEBOOKS (1366px ou menor) === */
/* ======================================================= */
@media (max-width: 1400px) {

    .sidebar {
        width: 300px;
        padding: 30px 0;

    }


    .sidebar-header h1 {
        font-size: 32px;
        margin-top: 30px;
    }


    .sidebar-nav a {
        font-size: 25px;
        gap: 15px;
        padding: 12px 20px;
        white-space: nowrap;
    }

    .sidebar-nav svg {
        width: 28px;
        height: 28px;
    }


    .sidebar-divider {
        margin-top: 30px;
    }
}