<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PEM Ocara</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="app-container">
      <!--========== SIDEBAR =============== -->

      <aside class="sidebar">
        <header class="sidebar-header">
            <h1>PEM OCARA</h1>
            <hr class="sidebar-divider" />
        </header>

        <nav class="sidebar-nav">
            <ul>
                <li id="listarAssistidas" data-window-target="telaFuncionarios">
                    <a href="#" class="active">
                        <span class="material-symbols-outlined">group</span>
                        <span>Funcionários</span>
                    </a>
                </li>

                <li id="telaRedeApoio" data-window-target="telaRedeApoio">
                    <a href="#">
                        <span class="material-symbols-outlined">groups</span>
                        <span>Rede de Apoio</span>
                    </a>
                </li>

                <li id="telaInicial" data-window-target="telaInicial">
                    <a href="#">
                        <span class="material-symbols-outlined">home</span>
                        <span>Inicial</span>
                    </a>
                </li>

                <li id="telaEstatisticas" data-window-target="telaEstatisticas">
                    <a href="#">
                        <span class="material-symbols-outlined">monitoring</span>
                        <span>Estatísticas</span>
                    </a>
                </li>

                <li id="telaConta" data-window-target="telaConfiguracoesConta">
                    <a href="#">
                        <span class="material-symbols-outlined">manage_accounts</span>
                        <span>Conta</span>
                    </a>
                </li>
            </ul>
        </nav>
        </aside>

      <!--=========== MAIN =====================-->
      <main
        class="main-content flex-grow-1 bg-white p-4"
        style="overflow-y: auto"
      >
        <!-- ================ Barra de busca -->
        <section
          class="shadow-sm p-3 mb-4 bg-white d-flex align-items-center justify-content-between barra-busca-full"
        >
          <div class="d-flex align-items-center gap-3 w-100">
            <span class="material-symbols-outlined"> search </span>

            <input
              type="text"
              class="form-control border-0 border-bottom rounded-0 shadow-none input-busca-prototipo"
              placeholder="Digite sua busca aqui"
            />

            <span class="material-symbols-outlined"> filter_alt </span>
          </div>
        </section>

        <section class="container">
          <h2 class="text-start fw-semibold mb-4" style="color: #63468c">
            Funcionários Cadastrados
          </h2>

          <div class="row">
            <div class="col-12 text-center mb-3">
              <button class="btn-assistida fw-bold">
                CADASTRAR NOVO FUNCIONÁRIO
              </button>
            </div>
          </div>

          <!--Card 01-->
          <div class="row gy-4 gx-5">
            <!-- <div class="col-md-6">
              <a
                href=" PASSA O CAMINHO DA PAGINA"
                style="text-decoration: none"
              >
                <div class="text-center card-paciente">
                  <h3 class="mb-2">[Nome do Func]</h3>
                  <p>[Cargo do Func]</p>
                </div>
              </a>
            </div> -->
          </div>
        </section>

        <!--============ Rodapé ==========-->
        <footer
          class="rodape d-flex justify-content-between align-items-center flex-wrap mt-auto px-5"
        >
          <img
            src="img/logo-ocara.png"
            alt="Logo Ocara"
            class="logo-esquerda"
          />
          <p>
            Avenida Coronel João Felipe, Centro <br />
            CEP 62755-000 – Ocara-CE <br />
            pemocara@gmail.com
          </p>
          <img
            src="img/brasao-ocara.png"
            alt="Brasão Ocara"
            class="logo-direita"
          />
        </footer>
      </main>
    </div>

    <script src="script.js"></script>
  </body>
</html>
