@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

html,
html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    height: 100vh;
}

/* Menu Lateral */
.sidebar {
    width: clamp(340px, 28vw, 480px);
    background-color: #63468C;
    color: #FFFFFF;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    box-sizing: border-box;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

.sidebar-header {
    text-align: center;
    width: 84%;
    margin: 0 auto;
    flex-shrink: 0;
    padding-top: 8px;
}

.sidebar-header h1 {
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
}

.sidebar-divider {
    border: none;
    height: 4px;
    background-color: #FFFFFF;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
}

.sidebar-nav {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.sidebar-nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.050em;
    padding: 15px 40px;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
}

.sidebar-nav a.active {
    background-color: #FFFFFF;
    color: #63468C;
}

.sidebar-nav a:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-nav .material-symbols-outlined {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}


.main-content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    box-sizing: border-box;

    max-width: 1920px;

    margin: 0 auto;

}

/* Conteúdo da Página */
.main-content {
    flex-grow: 10;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
}

.title h1 {
    font-size: 36px;
    font-weight: 600;
    color: #63468C;
    margin-bottom: 30px;
}

.title button {
    background-color: transparent;
    color: #63468C;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.2s ease-in-out;
}

#acessar-form {
    background-color: #F2B872;
    border: 1px solid #A8783E;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    height: 169px;
    cursor: pointer;
}

.infos {
    color: #63468C;
    font-size: 24px;
    font-weight: 600;
    gap: 20px;
    text-decoration: underline;
}

.provas h1 {
    font-size: 32px;
    font-weight: 700;
    color: #63468C;
    letter-spacing: 2px;
    text-decoration: underline;
}

#anexar-prova {
    background-color: #63468C;
    border: 1px solid #865D2B;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 25px;
    align-items: center;
    height: 109px;
    cursor: pointer;
}

.redes h1 {
    font-size: 32px;
    font-weight: 700;
    color: #63468C;
    letter-spacing: 2px;
    text-decoration: underline;
}

.redes p {
    font-size: 24px;
    font-weight: 400;
    color: #63468C;
}

#encaminhamento {
    background-color: #B291DE;
    border: 1px solid #9A78C6;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 15px;
    align-items: center;
    height: 73px;
    cursor: pointer;
}

/* rodape */
.rodape {
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

.rodape p {
    flex-grow: 1;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #63468C;
}

.logo-esquerda {
    width: 112px;
    height: 80px;
    object-fit: contain;
}

.logo-direita {
    width: 133px;
    height: 100px;
    object-fit: contain;
}