<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Cadastro da Assistida</title>
</head>
<body>
    <div class="titulo">
        <p>FORMULÁRIO DE ATENDIMENTO - CADASTRO DA ASSISTIDA</p>
    </div>

    <div class="card">
        <nav class="etapas">
            <ol class="lista-etapas">
                <li class="etapa-ativa">
                    <span class="numero">1</span>
                </li>
                <li class="etapa">
                    <span class="numero">2</span>
                </li>
                <li class="etapa">
                    <span class="numero">3</span>
                </li>
                <li class="etapa">
                    <span class="numero">4</span>
                </li>
                <li class="etapa">
                    <span class="numero">5</span>
                </li>
                <li class="etapa">
                    <span class="numero">6</span>
                </li>
            </ol>
        </nav>

        <div class="form">
            <div class="titulo-sessao">
                <h6>Passo 1</h6>
                <h4>Identificação da Assistida</h4>
            </div>
            <div class="perguntas">
                <div class="pergunta-conjunta">
                    <label for="nome-completo">Nome</label>
                    <input type="text" id="nome-completo" name="nome-completo">

                    <label for="idade">Idade</label>
                    <input type="text" id="idade" name="idade">
                </div>

                <div class="pergunta">
                    <label for="endereco">Endereço</label>
                    <input type="text" id="endereco" name="endereco">
                </div>

                <div class="pergunta-conjunta">
                    <label for="identidade-genero">Identidade de Gênero</label>
                    <input type="text" id="identidade-genero" name="identidade-genero">

                    <label for="nome-social">Nome Social</label>
                    <input type="text" id="nome-social" name="nome-social">
                </div>

                <div class="pergunta-conjunta">
                    <label for="escolaridade">Escolaridade</label>
                    <input type="text" id="escolaridade" name="escolaridade">

                    <label for="religiao">Religião</label>
                    <input type="text" id="religiao" name="religiao">
                </div>

                <div class="pergunta-conjunta">
                    <label for="nacionalidade">Nacionalidade</label>
                    <input type="text" id="nacionalidade" name="nacionalidade">

                    <label for="zona-habitacao">Zona de Habitação</label>
                    <input type="text" id="zona-habitacao" name="zona-habitacao">
                </div>

                <div class="pergunta">
                    <label for="profissao">Profissão/Ocupação</label>
                    <input type="text" id="profissao" name="profissao">
                </div>

                <div class="pergunta">
                    <label for="limitacao">Possui alguma limitação física (Se sim digite qual)</label>
                    <input type="text" id="limitacao" name="limitacao">
                </div>

                <div class="pergunta">
                    <label for="numero-cadastro">Número de cadastro em Programa Social</label>
                    <input type="text" id="numero-cadastro" name="numero-cadastro">
                </div>

                <div class="pergunta">
                    <label for="dependentes">Possui dependentes (Se sim digite quantos)</label>
                    <input type="text" id="dependentes" name="dependentes">
                </div>
            </div>
        </div>
    </div>

    <footer>
        <button id="voltar">< Voltar</button>
        <button id="proximo">Próximo ></button>
    </footer>
</body>
</html>