<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEM Ocara</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="app-container">
        
        <aside class="sidebar">
        <header class="sidebar-header">
            <h1>PEM OCARA</h1>
            <hr class="sidebar-divider" />
        </header>

        <nav class="sidebar-nav">
            <ul>
                <li id="listarAssistidas" data-window-target="telaFuncionarios">
                    <a href="#" class="active">
                        <span class="material-symbols-outlined">group</span>
                        <span>Funcionários</span>
                    </a>
                </li>

                <li id="telaRedeApoio" data-window-target="telaRedeApoio">
                    <a href="#">
                        <span class="material-symbols-outlined">groups</span>
                        <span>Rede de Apoio</span>
                    </a>
                </li>

                <li id="telaInicial" data-window-target="telaInicial">
                    <a href="#">
                        <span class="material-symbols-outlined">home</span>
                        <span>Inicial</span>
                    </a>
                </li>

                <li id="telaEstatisticas" data-window-target="telaEstatisticas">
                    <a href="#">
                        <span class="material-symbols-outlined">monitoring</span>
                        <span>Estatísticas</span>
                    </a>
                </li>

                <li id="telaConta" data-window-target="telaConfiguracoesConta">
                    <a href="#">
                        <span class="material-symbols-outlined">manage_accounts</span>
                        <span>Conta</span>
                    </a>
                </li>
            </ul>
        </nav>
        </aside>

        <main class="main-content">
        <header>
            <div class="title">
                <h1>Cadastrar Novo Funcionário</span></h1>
                <a href="#" class="btn-fechar-pagina">
                    <span class="material-symbols-outlined">close</span>
                </a>
            </div>
            </header>
            <div class="form-container">
            <form>
                <label for="nome">Nome do Funcionário</label>
                <input type="text" id="nome" placeholder="Digite aqui o nome do Funcionário">
                <p id="nomeError" class="error-message"></p> 
                <label for="email">E-mail do Funcionário</label>
                <input type="email" id="email" placeholder="Digite aqui o e-mail do funcionário">
                <p id="emailError" class="error-message"></p>
                <label for="cargo">Cargo do Funcionário</label>
                <div class="input-wrapper">
                    <select id="cargo">
                        <option value="" disabled selected>Clique aqui para selecionar o cargo</option>
                        <option value="ADMINISTRADOR">Administrador</option>
                        <option value="ASSISTENCIA_SOCIAL">Assistente Social</option>
                        <option value="JURIDICO">Jurídico</option>
                    </select>
                    <svg class="custom-icon seta-dropdown" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#63468C">
                        <path d="M480-360 280-560h400L480-360Z"/>
                    </svg>
                </div>
                <p id="cargoError" class="error-message"></p>
                <label for="senha">Senha do Funcionário</label>
                <div class="input-wrapper password-group">
                    <input type="password" id="senha" placeholder="Crie uma senha">
                    <span class="material-symbols-outlined toggle-pass" onclick="togglePassword(this)">visibility_off</span>
                </div>
                <p id="senhaError" class="error-message"></p>
                <label for="confirmar">Confirmar Senha do Funcionário</label>
                <div class="input-wrapper password-group">
                    <input type="password" id="confirmar" placeholder="Confirme a senha do funcionário">
                    <span class="material-symbols-outlined toggle-pass" onclick="togglePassword(this)">visibility_off</span>
                </div>
                <p id="confirmarError" class="error-message"></p>
                <button type="button" class="botão-cadastrar">Cadastrar Funcionário</button>
                <p id="formError" class="error-message"></p>
            </form>
            </div>
        </main>
    </div>
    <div class="popup-confirmacao" id="popupConfirmacao">
        <div class="popup-confirmacao-content">
            <p id="popupMensagem"></p>
            <button class="popup-btn-ok" id="btnFecharPopup">OK</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>